<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{url_for('static', filename='main.js')}}"></script>

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Flask Project</title>
    {% endif %}
</head>
<body>
    <nav class="main-navbar">
        <div class="max-width-wrapper flex justify-left align-center">
            <div class="nav-logo"><img class="nav-logo-img" src="" alt="Company Logo"></div>
            <ul class="navigation-links">
                <li class="nav-link"><a href="/home">Home</a></li>
                <li class="nav-link"><a href="">Download</a></li>
                <li class="nav-link"><a href="">Github</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="main-content max-width-wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer class="flex justify-center">
        <div class="max-width-wrapper"></div>
    </footer>
</body>
</html>